@import './fonts/fonts.scss';
@import './common-style/style.scss';
@import '../images/svg/style.scss';





.header {

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 85px;

		&__logo {
      color: rgba(88, 169, 165, 1);
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 800;
      font-size: 35px;
		}

		&__list {
      display: flex;
      max-width: 655px;
      width: 100%;
      justify-content: space-between;
		}

		&__link {
      font-family:'Poppins';
      font-size: 25px;
      color: #58A9A5;
      transition: all 0.3s ease 0s;
      font-weight: 500;
      &:hover {
        font-weight: bold;
        &::after {
          content: '';
        }
      }
      position: relative;
      &::after {
        position: absolute;
        width: 48px;
        height: 6px;
        background: #FEC62D;
        border-radius: 21px;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 35px;
      }
		}

		&__btn {
      background: #58A9A5;
      border-radius: 15px;
      font-weight: 500;
      font-size: 25px;
      color: #FFFFFF;
      padding: 19px 82px;
      border: 5px solid #58A9A5;
      transition: all 0.3s ease 0s;
      &:hover {
        background: #FEC62D;
      }
		}
}

.interior {

  display: flex;
  margin-top: 105px;

  &__left {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 70px;
  }

  &__title {
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 800;
    font-size: 70px;
    color: #1C2323;
    max-width:  674px;
    line-height: 105px;
  }

  &__text {
    font-size: 30px;
    max-width:  747px;
    line-height: 45px;
    margin-bottom: 50px;
  }

  &__right {
    flex: 0 0 50%;
  }

  &__img-shell {
    background-image: url('../images/Interrior.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    width: 833.87px;
    height: 782px;
  }

  &__img {
    position: absolute;
    top: calc(50% - 362px);
    left: calc(50% - 362px);
  }
}

.howIt {
  width: 100%;
		&__up {
      margin: 120px 0 150px 0;
		}

		&__container {
      display: flex;
      position: relative;
      margin-top: 150px;

		}

		&__video {
      max-width: 1063px;
      width: 100%;
      height: 350px;
      border-radius: 10px 0px 0px 10px;
		}

    &__btn-relative{
      position: absolute;
      width: 27px;
      height: 41px;
      top: 185px;
      right: 590px;
    }

		&__play {
      font-size: 20px;
      width: 128px;
      height: 128px;
      background: rgba(255, 255, 255, 0.4);
      border-radius: 50%;
      color: #FEC62D;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 100px;
        left: 14px;
        top: 14px;
        background: #FFFFFF;
        border-radius: 50%;
      }
      &::after {
        content: '';
        position: absolute;
        width: 27px;
        height: 41px;
        font-size: 30px;
        background-image: url('../images/svg/Vector.svg');
        background-repeat: no-repeat;
        top: calc(50% - 20.5px);
        left: calc(50% - 10.5px);
        z-index: 1;
      }

		}

		&__describe {
      background: #CCF0E6;
      border-radius: 0px 10px 10px 0px;
      max-width: 549px;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: space-evenly;
		}

		&__text {
      max-width: 328px;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #486958;
		}

		&__link {
      font-weight: bold;
      font-size: 20px;
      line-height: 30px;
      color: #486958;
		}

		&__down {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
		}

		&__img {
      width: 100%;
		}

		&__down-container {
      margin-left: 200px;
		}

		&__article {
      max-width: 487px;
      font-weight: bold;
      font-size: 40px;
      line-height: 60px;
      color: #1C2323;
      margin-bottom: 50px;
		}

		&__mission {
      max-width: 708px;
      font-weight: 500;
      font-size: 30px;
      line-height: 45px;
      color: #486958;
		}
}

.projects {

  width: 100%;
  margin: 120px 0 250px 0;

		&__container {
      display: flex;
      justify-content: space-between;
      margin-top: 160px;
		}

    .section {

      &__describe {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: 135px;
          border-top: 5px solid #58A9A5;
          top: 91px;
          left: 0;
          right: 0;
          margin: 0 auto;
        }
        &::before{
          content: '';
          position: absolute;
          width: 135px;
          border-top: 5px solid #58A9A5;
          top: 106px;
          left: 0;
          right: 0;
          margin: 0 auto;
        }

      }
    }

		// &__column {
		// }

		&__title {
      font-weight: bold;
      font-size: 40px;
      line-height: 60px;
      color: #58A9A5;
		}

		&__text {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #486958;
      max-width: 453px;
		}

		&__img {
      margin: 35px 0;
		}
}

.testimonial {

  width: 100%;
  margin-bottom: 240px;

		&__labels {
      display: flex;
      justify-content: space-evenly;
      margin: 120px 0 160px 0;
      align-items: center;
		}

		// &__label {
		// }

		&__container {
      display: flex;
		}

		// &__picture {
		// }

		&__right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: #CCF0E6;
      width: 100%;
      position: relative;
		}

		&__statistic {
      display: flex;
      justify-content: space-around;
      max-width: 752px;
      margin-bottom: 120px;
		}

		&__number {
      font-weight: 600;
      font-size: 38px;
      line-height: 45px;
      color: #58A9A5;
      &:nth-child(2) {
        margin: 0 67px;
      }
      span {
        font-weight: 800;
        font-size: 60px;
      }
		}

    &__brackets {
      position: absolute;
        width: 300px;
        height: 300px;
        font-size: 300px;
        font-family: 'Port Lligat Sans';
        color: #FFFFFF;
        top: 280px;
        left: 50px;
    }

		&__quote {
      font-weight: 500;
      font-size: 25px;
      line-height: 37px;
      color: #486958;
      max-width: 752px;
      margin-bottom: 60px;
      z-index: 1;
		}

		&__author {
      font-weight: 500;
      font-style: italic;
      font-size: 25px;
      color: #58A9A5;
      width: 100%;
      max-width: 752px;
		}
}

.contact {

  display: flex;
  width: 100%;
  margin-bottom: 333px;

    .section {
      &__title {
        text-align: left;
      }

      &__describe {
        text-align: left;
        max-width: 490px;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: 135px;
          border-top: 5px solid #58A9A5;
          top: 111px;
          left: 0;

        }
        &::before{
          content: '';
          position: absolute;
          width: 135px;
          border-top: 5px solid #58A9A5;
          top: 126px;
          left: 0;

        }

      }

    }

		&__container {
      margin-right: 60px;
		}

		&__form {
      border: 1px solid #486958;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      padding: 35px 55px;
      max-width: 1109.24px;
      width: 100%;
		}

		&__input {
      padding: 57px 0 25px 0;
      width: 100%;
      font-weight: 500;
      font-size: 25px;
      line-height: 37px;
      color: #486958;
      border-bottom: 1px solid #000000;
      &:nth-child(3){
        border-bottom:initial;
      }
		}

    .common {
      &__button {
        align-self: flex-end;
      }
    }
}






// commons classes

.common__button {
  background: #58A9A5;
  border-radius: 20px 20px 20px 0px;
  width: 261px;
  height: 70px;
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
  border: 5px solid #58A9A5;
  transition: all 0.3s ease 0s;
  &:hover {
    background: #FEC62D;
  }
}

.section {

  &__title {
    font-weight: 800;
    font-size: 70px;
    line-height: 105px;
    text-align: center;
    color: #1C2323
  }

  &__describe {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #404242;
  }
}



// Support Classes

.menu-burger{
  display: none;
}
.shadow {
  box-shadow: 0px 0px 3px #888;
}
.d-none {
  display: none;
}
._lock {
  overflow: hidden;
}


// Menu Burger

@media screen and (max-width:768px){
  .menu-burger {
    display: block;
    z-index: 5;
    right: 0px;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu-burger::before,
  .menu-burger::after,
  .menu-burger span {
    left:0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: black;
  }
  .menu-burger::before,
  .menu-burger::after {
    content: "";
  }
  .menu-burger::before {
    top: 0;
  }
  .menu-burger::after {
    bottom: 0;
  }
  .menu-burger span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .menu-burger._active {
    span {
      transform: scale(0) translate(0, -50%);
    }
  }
  .menu-burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu-burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }



  .header__list{
    position: fixed;
    overflow: auto;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color:rgba(0, 0, 0, 0.9);
    padding: 120px 15px 15px 15px;
    transition: left 0.3s ease 0s;
    display: flex;
    flex-direction: column;

  }

  .header__list._active {
    left: 0px;
    .header__logo {
        position: fixed;
        left: 30px;
    }
    .fixed-burger {
      position: fixed;
    }
  }
  .header__list._active::before{
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 94px;
    background: gray;
    z-index: 9;
  }
 }


// !! Tip for Carousel, if you want to use Carousel you need to add this class below to your
// !!section and for safety you need to limit your slide-conteiner by max-width. And of course
// !!you need to add this slide-container in carousel.js, and connect this js file to app.js

// .slick-slider {

//   .slick-list {
//     overflow: hidden;
//   }
//   .slick-track{
//     display: flex;
//   }
// }